::selection {
  background: #c3110e;
  color: white;
}
::-moz-selection {
  background: #c3110e;
  color: white;
}

body {
  background-color: rgba(255, 216, 165, 0.4);
  font-family: 'Red Hat Display', sans-serif;
  overflow: hidden;
}
.App {
  text-align: center;
}
.bgImageContainer {
  background: #cea894
    url('https://images.unsplash.com/photo-1521996240847-20cdba641bdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80')
    center center / cover no-repeat;
  width: 100vw;
  height: 67vh;
}
h1 {
  color: #3488bb;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 2rem;
}
.result {
  color: #c3110e;
  font-size: 2rem;
  font-weight: 500;
  height: 48px;
  margin: 1rem;
}

input,
button {
  background-color: #dbf6ff;
  color: #4a2414;
  width: 200px;
  height: 48px;
  padding: 0;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  border-radius: 4px;
  border: none;
}
input:focus,
button:focus {
  outline: none;
}
button {
}

@media screen and (max-width: 598px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 448px) {
  body {
    overflow: scroll;
  }
  .bgImageContainer {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  .result {
    margin-top: 40vh;
  }
  input,
  button {
    width: 80vw;
  }
}
